@mixin circle($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%;
}

@mixin flex-position($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid-columns($columns: 0.5fr 3fr 1fr 1fr 1fr 1fr, $gap: 24px) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
}

// Responsiveness

@mixin mdScreen() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin smScreen2() {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin smScreen() {
  @media (max-width: 420px) {
    @content;
  }
}

@mixin xsScreen() {
  @media (max-width: 320px) {
    @content;
  }
}
