$font-family: "DM Sans", sans-serif;
$font-family-fd: "Fondamento", cursive;

$color-primary: #0000ff;
$color-text: #273341;
$color-text-light: #8f99a6;
$color-purple: #9046ff;
$color-blue: #2bcae5;
$color-white: #ffffff;

$color-success: #30cd57;
$color-success-trans: rgba(48, 205, 87, 0.15);
$color-error: #cd3602;
$color-error-trans: rgba(219, 79, 90, 0.15);
$color-disabled: #e7e9ee;
$color-disabled-1: rgba(144, 151, 165, 0.2);

$color-input-border: rgba(171, 179, 191, 0.5);

$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
